:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --logo-text-color: #2196f3;
  --logo-black: #000000;
  --logo-white: #ffffff;
  --hero-text-color: #ffffff;
  --addresse-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-text-color: #ffffff;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #2f303a;
  --header-bg-color: #ffffff;
  --accent-color: #2196f3;
  --additional-bg-color: #f5f4fa;
  --white-bg-color: #ffffff;
  --product-card-bg-color: #ffffff;
  --accent-hero-btn-bg-color: #188ce8;
  --accent-icon-bg-color: #2196f3;
  --primary-icon-fill: #afb1b8;
  --accent-icon-fill: #ffffff;
  --modal-bg-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.form-reset-input {
  background-color: transparent;
  border: none;
  outline: none;
}

body {
  background-color: var(--white-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

p {
  color: var(--secondary-text-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  padding-top: 5px;
  padding-bottom: 5px;
  transition-property: color, background-color, box-shadow, border-color, transform, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:focus, .link:hover {
  color: var(--accent-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.developers-list__name, .developers-list__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.contanier {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  color: var(--logo-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
}

.button {
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-family: inherit;
  text-align: center;
  transition-property: color, background-color, box-shadow, border-color, transform, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: var(--accent-hero-btn-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero__button {
  padding: 10px 32px;
}

.footer-form__btn {
  position: relative;
  padding: 8px 60px 8px 27px;
}

.form-modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition-property: color, background-color, box-shadow, border-color, transform, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__close-btn:hover, .form-modal__close-btn:focus {
  fill: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.form-modal__send-btn {
  padding: 10px 55px 10px 56px;
  margin-top: 30px;
}

.filters-list__btn {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--additional-bg-color);
  color: var(--primary-text-color);
}

.filters-list__btn:hover, .filters-list__btn:focus {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.social-list {
  display: flex;
}

.social-list--center {
  justify-content: center;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__icon {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-icon-fill);
  fill: currentColor;
  transition-property: color, background-color, box-shadow, border-color, transform, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__icon:hover, .social-list__icon:focus {
  background-color: var(--accent-icon-bg-color);
  color: var(--accent-icon-fill);
}

.social-list__icon--white-fill {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--accent-icon-fill);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 700ms, visibility 700ms;
}

.backdrop.is-hidden .modal {
  transform: rotate(180deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--modal-bg-color);
  box-shadow: 0px 1px 3px rgba(124, 122, 122, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 700ms;
  padding: 40px;
}

.form-modal {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

.form-modal__field {
  position: relative;
  width: 100%;
}

.form-modal__field + .form-modal__field {
  margin-top: 28px;
}

.form-modal__field-textarea {
  margin-bottom: 20px;
}

.form-modal__label {
  position: absolute;
  top: -4px;
  left: 0;
  transform: translateY(-100%);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form-modal__input,
.form-modal__textarea {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: color, background-color, box-shadow, border-color, transform, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__input {
  height: 40px;
  padding: 9px 10px 9px 40px;
}

.form-modal__input:focus-within,
.form-modal__textarea:focus-within {
  border-color: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.form-modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.form-modal__input:focus-within + .form-modal__icon {
  fill: var(--accent-color);
}

.form-modal__textarea {
  resize: none;
  height: 96px;
  padding: 12px 14px;
}

.form-modal__textarea:placeholder-shown {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__checkbox {
  align-items: center;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.form-modal__castom-check {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: transparent;
  margin-right: 8px;
}

.form-modal__checkbox-input:checked + .form-modal__castom-check {
  background-color: var(--accent-icon-bg-color);
  fill: var(--accent-icon-fill);
  border: var(--accent-icon-bg-color);
}

.form-modal__policy-link {
  text-decoration: underline;
  color: var(--accent-color);
}

.header {
  background-color: var(--header-bg-color);
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header-content,
.navigation {
  align-items: center;
  display: flex;
}

.header__logo {
  margin-right: 93px;
}

.logo--black {
  color: var(--logo-black);
}

.nav-list,
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  display: flex;
}

.nav-list__item {
  position: relative;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.header__contacts {
  margin-left: auto;
}

.header-contacts__item {
  align-items: center;
}

.header-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts__contact {
  color: var(--secondary-text-color);
  align-items: center;
  display: flex;
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.current {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  content: '';
  top: 44px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  cursor: auto;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-color: var(--secondary-bg-color);
  color: var(--hero-text-color);
  max-width: 1600px;
}

.hero--margin-auto {
  margin-right: auto;
  margin-left: auto;
}

.hero__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.peculiarities {
  padding-top: 94px;
  padding-bottom: 94px;
}

.peculiarities-list {
  display: flex;
}

.peculiarities-list__item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.peculiarities-list__item:nth-child(4n) {
  margin-right: 0;
}

.peculiarities-list__icon {
  justify-content: center;
  display: flex;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--additional-bg-color);
}

.peculiarities-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.peculiarities-list__text {
  font-size: 14px;
  line-height: 1.71;
}

.working {
  padding-bottom: 94px;
}

.working__title {
  margin-bottom: 50px;
}

.working-list {
  display: flex;
}

.working-list__item {
  position: relative;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.working-list__item:nth-child(3n) {
  margin-right: 0;
}

.working-list__top-title {
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--accent-text-color);
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.developers {
  background-color: var(--additional-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.developers__title {
  margin-bottom: 50px;
}

.developers-list {
  display: flex;
}

.developers-list__item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  background-color: var(--white-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.developers-list__item:nth-child(4n) {
  margin-right: 0;
}

.developers-list__emploees-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.developers-list__name {
  font-weight: 500;
  margin-bottom: 10px;
}

.developers-list__position {
  margin-bottom: 16px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
}

.clients-list__item {
  width: calc((100% - 150px) / 6);
  margin-right: 30px;
}

.clients-list__item:last-child {
  margin-right: 0;
}

.clients-list__link {
  justify-content: center;
  display: flex;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  color: var(--primary-icon-fill);
  border: 1px solid var(--primary-icon-fill);
  border-radius: 4px;
}

.clients-list__link:hover, .clients-list__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-list__icon {
  align-items: center;
  fill: currentColor;
}

.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-content__address {
  margin-right: 70px;
}

.footer-content__logo {
  margin-bottom: 20px;
  display: inline-block;
}

.logo--white {
  color: var(--logo-white);
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__map {
  color: var(--addresse-text-color);
}

.address-list__contact {
  color: var(--footer-text-color);
}

.footer__social {
  min-width: 206px;
  margin-right: 93px;
}

.footer-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--addresse-text-color);
  margin-bottom: 20px;
}

.footer-form__text {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-text-color);
  margin-bottom: 20px;
}

.footer-form__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  color: var(--footer-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  transition-property: color, background-color, box-shadow, border-color, transform, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input:valid:not(:placeholder-shown) {
  border: 1px solid #00ff00;
}

.footer-form__input:invalid {
  border: 1px solid #ff0000;
}

.footer-form__input:focus:placeholder-shown {
  border: 1px solid var(--accent-color);
}

.footer-form__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__filters-list {
  margin-bottom: 34px;
}

.filters-list {
  justify-content: center;
  display: flex;
}

.filters-list__item:not(:last-child) {
  margin-right: 8px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.products-list__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: var(--product-card-bg-color);
  border-bottom: 1px solid #eeeeee;
}

.products-list__item:nth-child(3n) {
  margin-right: 0;
}

.products-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.products-list__link {
  transition-property: color, background-color, box-shadow, border-color, transform, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.products-list__link:hover, .products-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.products-thumb {
  position: relative;
  overflow: hidden;
}

.products-thumb__top-text {
  transition-property: color, background-color, box-shadow, border-color, transform, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: var(--accent-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
}

.products-list__link:hover .products-thumb__top-text,
.products-list__link:focus .products-thumb__top-text {
  transform: translateY(0%);
}

.products-list__text-content {
  padding: 20px 24px;
}

.products-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.products-list__text {
  font-size: 16px;
  line-height: 1.87;
}
/*# sourceMappingURL=main.css.map */