.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  @include margin-r-l;
  text-align: center;

  @include desk {
    text-align: start;
  }
}
.footer-thumb {
  @include desk {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include tablet {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }

  @include desk {
    text-align: start;
    align-items: baseline;
  }
}
.footer--content {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}
.footer-content__address {
  margin-bottom: 60px;

  @include tablet {
    margin-bottom: 0;
  }

  @include desk {
    padding-left: 0;
    margin-right: 70px;
  }
}
.footer-content__logo {
  margin-bottom: 20px;
  display: inline-block;
}
.logo--white {
  color: var(--logo-white);
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.address-list__item:not(:last-child) {
  margin-bottom: 8px;

  @include desk {
    margin-bottom: 9px;
  }
}
.address-list__map {
  color: var(--addresse-text-color);
}
.address-list__contact {
  color: var(--footer-text-color);
}
.footer-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--addresse-text-color);
  margin-bottom: 20px;
}
.footer-form {
  @include tablet-span {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer-form__text {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-text-color);
  margin-bottom: 20px;
}
.footer-form__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  color: var(--footer-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 20px;
  @include transitions;
  &:valid:not(:placeholder-shown) {
    border: 1px solid #00ff00;
  }
  &:invalid {
    border: 1px solid #ff0000;
  }
  &:focus:placeholder-shown {
    border: 1px solid var(--accent-color);
  }

  @include tablet {
    width: 450px;
  }

  @include desk {
    width: 358px;
    margin-right: 11px;
    margin-bottom: 0;
  }
}
.footer-form__icon {
  position: absolute;
  top: 50%;
  right: 26px;
  transform: translateY(-50%);
}
