:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --logo-text-color: #2196f3;
  --logo-black: #000000;
  --logo-white: #ffffff;
  --hero-text-color: #ffffff;
  --addresse-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-text-color: #ffffff;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #2f303a;
  --header-bg-color: #ffffff;
  --accent-color: #2196f3;
  --additional-bg-color: #f5f4fa;
  --white-bg-color: #ffffff;
  --product-card-bg-color: #ffffff;
  --accent-hero-btn-bg-color: #188ce8;
  --accent-icon-bg-color: #2196f3;
  --primary-icon-fill: #afb1b8;
  --accent-icon-fill: #ffffff;
  --modal-bg-color: #ffffff;
}
